<side-header></side-header>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="text-white text-center mt-3">Über uns</h1>
                    <p class="text-center text-white">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut
                        labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                        gubergren, no
                        sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                        sadipscing
                        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                        takimata
                        sanctus
                        est Lorem ipsum dolor sit amet.

                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum
                        dolore eu
                        feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                        luptatum zzril
                        delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
                    </p>
                </div>
            </div>
            <div class="flex mt-3">
                <div class="w-50 container-color plr-30">
                    <h2 class="text-white mt-3">Filiale</h2>

                    <div class="flex">
                        <div class="w-50">
                            <div class="flex-column mb-3">
                                <mat-card class="w-100 mr-10">
                                    <mat-card-title class="orange">Adresse</mat-card-title>
                                    <mat-card-content class="flex-row">
                                        <div>Industriestraße 25</div>
                                        <div>79117 Freiburg</div>
                                        <div>Baden-Württemberg</div>
                                        <div>Deutschland</div>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="w-100 ml-10 mt-3">
                                    <mat-card-title class="orange">Kontakt</mat-card-title>
                                    <mat-card-content class="flex-row">
                                        <div>Tel: +49 0178 235900715</div>
                                        <div>email: trouvaille@deliveries.de</div>
                                    </mat-card-content>
                                </mat-card>

                            </div>
                        </div>
                        <div class="w-50 ml-15 align-items-center">
                            <img src="../../assets/map_trouvaille_deliveries.png" class="headquarter-map"
                                 alt="trouvaille_map">
                        </div>
                    </div>

                </div>
                <div style="width: 5%">

                </div>
                <div class="w-45 plr-30 container-color">
                    <h2 class="text-white mt-3">Öffnungszeiten</h2>
                    <div class="row flex">
                    <span class="bg-white vertical-align mt-1 h6 h-28">Montag
                        <div class="w-100">
                            <span class="float-end">7:00-13:00 Uhr & 14:00-18:00 Uhr</span>
                        </div>
                    </span>
                        <span class="bg-white vertical-align mt-1 h6 h-28">Dienstag
                        <div class="w-100">
                            <span class="float-end">7:00-13:00 Uhr & 14:00-18:00 Uhr</span>
                        </div>
                    </span>
                        <span class="bg-white vertical-align mt-1 h6 h-28">Mittwoch
                        <div class="w-100">
                            <span class="float-end">7:00-13:00 Uhr & 14:00-18:00 Uhr</span>
                        </div>
                    </span>
                        <span class="bg-white vertical-align mt-1 h6 h-28">Donnerstag
                        <div class="w-100">
                            <span class="float-end">7:00-13:00 Uhr & 14:00-18:00 Uhr</span>
                        </div>
                    </span>
                        <span class="bg-white vertical-align mt-1 h6 h-28">Freitag
                        <div class="w-100">
                            <span class="float-end">7:00-13:00 Uhr & 14:00-18:00 Uhr</span>
                        </div>
                    </span>
                        <span class="bg-white vertical-align mt-1 h6 h-28">Samstag
                        <div class="w-100">
                            <span class="float-end">Geschlossen</span>
                        </div>
                    </span>
                        <span class="bg-white vertical-align mt-1 h6 h-28">Sonntag
                        <div class="w-100">
                            <span class="float-end">Geschlossen</span>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="col-lg-6 flex-row justify-content-center container-color plr-30 ">
                    <h2 class="text-white mt-3">Information</h2>
                    <div class="d-flex justify-content-between text-center">
                        <mat-card class="w-30">
                            <mat-card-header class="d-block">
                                <p>Briefe</p>
                            </mat-card-header>
                            <mat-card-content>
                                <div>
                                    <fa-icon class="icon-color" [icon]="faEnvelope" size="4x"></fa-icon>
                                    <p class="mt-2">0,85€ - 2.75€</p>
                                    <p>bis 1kg</p>
                                    <p>bis 35,5 x 25 x 5 cm</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="w-30">
                            <mat-card-header class="d-block">
                                <p>Paket klein</p>
                            </mat-card-header>
                            <mat-card-content>
                                <fa-icon class="icon-color" [icon]="faBox" size="4x"></fa-icon>
                                <p class="mt-2">4,99€ - 8,49€</p>
                                <p>2kg - 10kg</p>
                                <p>bis 120 x 60 x 60 cm</p>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="w-30">
                            <mat-card-header class="d-block">
                                <p>Paket groß</p>
                            </mat-card-header>
                            <mat-card-content>
                                <fa-icon class="icon-color" [icon]="faBoxesStacked" size="4x"></fa-icon>
                                <p class="mt-2">16,49€</p>
                                <p>bis 31,5kg</p>
                                <p>bis 120 x 60 x 60 cm</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <h2 class="text-white mt-3">Preis ermitteln</h2>
                    <form [formGroup]="packageForm">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Länge (in cm)</mat-label>
                            <input matInput type="text" formControlName="depth">
                            <mat-error>Die eingegebene Länge liegt außerhalb der erlaubten Eingaben</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Breite (in cm)</mat-label>
                            <input matInput type="text" formControlName="width">
                            <mat-error>Die eingegebene Breite liegt außerhalb der erlaubten Eingaben</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Höhe (in cm)</mat-label>
                            <input matInput type="text" formControlName="height">
                            <mat-error>Die eingegebene Höhe liegt außerhalb der erlaubten Eingaben</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Gewicht (in g)</mat-label>
                            <input matInput type="text" formControlName="weight">
                            <mat-error>Das eingegebene Gewicht liegt außerhalb der erlaubten Eingaben</mat-error>
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="w-100" (click)="calculatePrice()">Preis ermitteln</button>

                        <mat-form-field appearance="fill" class="w-100 mt-3">
                            <mat-label>Preis (in €)</mat-label>
                            <input matInput type="text" formControlName="price" [readonly]="true">
                        </mat-form-field>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

