::ng-deep{
    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: white !important;
        opacity: 1;
        border-radius: 0px !important;
    }
}

::ng-deep {
    .mat-step-text-label {
        color: white !important;
        font-size: 20px !important;
    }
}

.plr-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.w-95 {
    width: 95%;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.container-color {
    background-color: #6043F6;
}

.orange {
    color: orange;
    font-size: 20px;
}
