<div>
    <side-header></side-header>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <h1 class="text-white mt-5">Lieferung verfolgen</h1>
                </div>
            </div>

            <div class="row justify-content-center mb-5">
                <div class="col-lg-6">
                    <div class="input-group mt-5">
                        <mat-form-field class="id-input" appearance="fill">
                            <mat-label>Lieferungs-ID</mat-label>
                            <input matInput type="text" [formControl]="trackingForm">
                            <mat-error>Nur Ziffern erlaubt</mat-error>
                        </mat-form-field>
                        <div class="">
                            <button class="tracking-button rounded-0" mat-raised-button color="primary"
                                    (click)="getDeliveryStatus()" [disabled]="!trackingForm.valid">
                                Verfolgen
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100 container-color plr-30">
                <div class="pt-3">
                    <div>
                        <p class="text-white">Lieferungsnummer: {{trackingId}}&nbsp;&nbsp;&nbsp;&nbsp;
                            <ng-container [ngSwitch]="status">
                                <span class="text-white" *ngSwitchCase="'ANNOUNCED'"><span class="dot cFFF500"></span>&nbsp;&nbsp;Im System eingegangen</span>
                                <span class="text-white" *ngSwitchCase="'IN_CENTRAL'"><span class="dot c2945D8"></span>&nbsp;&nbsp;In Filiale angekommen</span>
                                <span class="text-white" *ngSwitchCase="'IN_CAR'"><span class="dot c00E0FF"></span>&nbsp;&nbsp;In Auslieferung</span>
                                <span class="text-white" *ngSwitchCase="'DELIVERED'"><span class="dot c94CF8A"></span>&nbsp;&nbsp;Paket ausgeliefert</span>
                                <span class="text-white" *ngSwitchCase="'REDIRECTED_TO_DHL'"><span class="dot OOFF00"></span>&nbsp;&nbsp;An DHL weitergeleitet</span>
                                <span class="text-white" *ngSwitchCase="'PICKED_UP'"><span class="dot FF7F00"></span>&nbsp;&nbsp;Paket abgeholt</span>
                                <span class="text-white" *ngSwitchCase="'REQUESTED_PICKUP'"><span class="dot FF7F00"></span>&nbsp;&nbsp;Abholung angefragt</span>
                                <span class="text-white" *ngSwitchCase="'ADDRESS_NOT_FOUND'"><span class="dot cCD8484"></span>&nbsp;&nbsp;Lieferung abgebrochen</span>
                                <span class="text-white" *ngSwitchCase="'CANCELED'"><span class="dot cCD8484"></span>&nbsp;&nbsp;Lieferung abgebrochen</span>
                                <span class="text-white" *ngSwitchCase="'DELIVERY_FAILED'"><span class="dot cCD8484"></span>&nbsp;&nbsp;Lieferung abgebrochen</span>
                                <span class="text-white" *ngSwitchCase="'PICKUP_FAILED'"><span class="dot cCD8484"></span>&nbsp;&nbsp;Lieferung abgebrochen</span>
                            </ng-container>
                        </p>
                    </div>
                    <hr class="text-white">
                    <mat-card class="mt-2">
                        <h3>Liefer-Status</h3>
                        <div class="flex">
                            <div class="mr-20 w-80">
                                <div class="square flex justify-content-center align-items-center cFFF500"
                                     [ngClass]="{'border-blue': status === 'ANNOUNCED' || status === 'REQUESTED_PICKUP' || status === 'PICKED_UP' || status === 'IN_CENTRAL' || status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'}">
                                    <fa-icon
                                        *ngIf="status === 'ANNOUNCED' || status === 'REQUESTED_PICKUP' || status === 'PICKED_UP' || status === 'IN_CENTRAL' || status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'"
                                        [icon]="faCheck" size="4x"></fa-icon>
                                </div>
                                <p class="text-center">Im System eingegangen</p>
                            </div>
                            <div class="mr-20 w-80" *ngIf="this.isPickup">
                                <div class="square flex justify-content-center align-items-center FF7F00"
                                     [ngClass]="{'border-blue': status === 'REQUESTED_PICKUP' || status === 'PICKED_UP' || status === 'IN_CENTRAL' || status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'}">
                                    <fa-icon
                                        *ngIf="status === 'REQUESTED_PICKUP' || status === 'PICKED_UP' || status === 'IN_CENTRAL' || status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'"
                                        [icon]="faCheck" size="4x"></fa-icon>
                                </div>
                                <p class="text-center" *ngIf="status !== 'REQUESTED_PICKUP'">Paket abgeholt</p>
                                <p class="text-center" *ngIf="status === 'REQUESTED_PICKUP'">Abholung angefragt</p>
                            </div>
                            <div class="mr-20 w-80">
                                <div class="square flex justify-content-center align-items-center c2945D8"
                                     [ngClass]="{'border-blue': status === 'IN_CENTRAL' || status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'}">
                                    <fa-icon
                                        *ngIf="status === 'IN_CENTRAL' ||  status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'"
                                        [icon]="faCheck" size="4x"></fa-icon>
                                </div>
                                <p class="text-center">In Filiale angekommen</p>
                            </div>
                            <div class="mr-20 w-80">
                                <div class="square flex justify-content-center align-items-center c00E0FF"
                                     [ngClass]="{'border-blue': status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'}">
                                    <fa-icon *ngIf="status === 'IN_CAR' || status === 'REDIRECTED_TO_DHL' || status === 'DELIVERED'" [icon]="faCheck"
                                             size="4x"></fa-icon>
                                </div>
                                <p class="text-center">In Auslieferung</p>
                            </div>
                            <div class="mr-20 w-80">
                                <div class="square flex justify-content-center align-items-center OOFF00"
                                     [ngClass]="{'border-blue': status === 'REDIRECTED_TO_DHL'}">
                                    <fa-icon *ngIf="status === 'REDIRECTED_TO_DHL'" [icon]="faCheck"
                                             size="4x"></fa-icon>
                                </div>
                                <p class="text-center">An DHL weitergeleitet</p>
                            </div>
                            <div class="mr-20 w-80">
                                <div class="square flex justify-content-center align-items-center c94CF8A"
                                     [ngClass]="{'border-blue': status === 'DELIVERED'}">
                                    <fa-icon *ngIf="status === 'DELIVERED'" [icon]="faCheck" size="4x"></fa-icon>
                                </div>
                                <p class="text-center">Paket ausgeliefert</p>
                            </div>
                            <div class="mr-20 w-80">
                                <div class="square flex justify-content-center align-items-center cCD8484"
                                     [ngClass]="{'border-blue': status === 'ADDRESS_NOT_FOUND' || status === 'CANCELED' || status === 'DELIVERY_FAILED' || status === 'PICKUP_FAILED'}">
                                    <fa-icon *ngIf="status === 'ADDRESS_NOT_FOUND' || status === 'CANCELED' || status === 'DELIVERY_FAILED' || status === 'PICKUP_FAILED'"
                                             [icon]="faXmark" size="4x"></fa-icon>
                                </div>
                                <p class="text-center">Lieferung abgebrochen</p>
                            </div>
                        </div>
                        <div class="mt-3" *ngIf="!(this.information === 'NO_PROBLEMS')">
                            <h3>Hinweise zu Ihrer Lieferung:</h3>
                            <p>
                                {{this.information}}
                            </p>
                        </div>
                    </mat-card>
                </div>

                <h2 class="text-white mt-4">Karte</h2>

                <div class="mb-5">
                    <div class="map-container">
                        <div class="map-frame">
                            <div id="map">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
