<side-header></side-header>
<div class="container text-white d-flex justify-content-center">
    <div class="col-lg-6 container-color mt-5 plr-30">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p>Trouvaille Delivery GmbH<br>Max Mustermann</p>
        <h3>Postanschrift:</h3>
        <p>Breisacher Straße 17<br>79106 Freiburg<br></p>
        <h3>Kontakt:</h3>
        <p>Telefon: 12345 123456789<br>E-Mail: info@trouvaille-delivery.de</p>
        <p></p><h3>Vertreten durch:</h3>
        <p>Max Mustermann<br></p>
        <p></p><h3>Eingetragen am</h3>
        <p>Handelsregister<br>4563112365<br></p>
        <p></p><h3>Umsatzsteuer-Identifikationsnummer</h3>
        <p>234556<br></p>
        <p></p><h3>Wirtschafts-Identifikationsnummer</h3>
        <p>123123<br></p>
        <p></p><h2>Hinweise zur Website</h2>
        <p></p><h2>Hinweis</h2>
        <p>Die Plattform der EU zur außergerichtlichen Streitbeilegung finden Sie online unter: <a
            href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a></p>
        <p></p><p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator
        der activeMind AG</a> erstellt.</em></p>
    </div>

</div>
