<h1 class="text-center">Trouvaille Deliveries</h1>

<div class="container">
  <hr>
  <div class="w-100">
    <h3 class="text-center"> Lieferung verfolgen</h3>
    <div class="input-group">
      <input class="form-control w-25" type="text" placeholder="Lieferungs-ID">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Verfolgen</button>
      </div>
    </div>

  </div>
  <div class="w-100 text-center">
    <button class="btn btn-primary rounded-0 text-center">Abholung beantragen</button>
  </div>
  <hr>
  <div class="w-100 text-center">
    <h3 class="text-center text-decoration-underline">Unsere Vorteile</h3>
    <div class="">
      <fa-icon class="m-3" style="font-size: 40px;" [icon]="faCubes"></fa-icon>
      <fa-icon class="m-3" style="font-size: 40px;" [icon]="faLocationDot"></fa-icon>
      <fa-icon class="m-3" style="font-size: 40px;" [icon]="faTruckRampBox"></fa-icon>
      <fa-icon class="m-3" style="font-size: 40px;" [icon]="faTruckFast"></fa-icon>
    </div>
    <button class="btn btn-primary text-center">Mehr erfahren</button>
  </div>
</div>


