h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(63deg) brightness(98%)
        contrast(102%);
}

.map-container {
    background-image: url("../../assets/map_small.png");
    background-position: center;
}

.background {
    background-color: #5c35ab;
}

.picture {
    background-image: url("../../assets/pexels-yan-krukov-6818150_small.jpg");
    -o-background-size: 100% 100%;
    background-position: center;
}

.trapezoid {
    height: 0;
    border-bottom: 150px solid #6043f6;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(180deg) scaleX(-1);

    .upside {
        transform: rotate(180deg) scaleX(-1);
    }
}

.trapezoid_small {
    height: 0;
    border-bottom: 50px solid #6043f6;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(180deg) scaleX(-1);

    .upside {
        transform: rotate(180deg) scaleX(-1);
    }
}

@media only screen and (max-width: 1000px) {
    .trapezoid {
        height: 100px;
        background-color: #6043f6;
    }

    .trapezoid_small {
        height: 30px;
        background-color: #6043f6;
        width: 100%;
    }

    .row {
        --bs-gutter-x: 0rem;
    }
}
