<h1 mat-dialog-title class="text-center">Bestellung abgeschlossen</h1>
<div mat-dialog-content>
    <div class="flex-column justify-content-center align-items-center">
        <div class="text-center">
            <fa-icon style="color: #FFA41D" [icon]="faCircleCheck" size="5x"></fa-icon>
        </div>
        <p class="text-center mt-3">
            Ihre Bestellung wurde verarbeitet. In Kürze erhalten Sie eine E-Mail mit Ihrer Sendungsverfolgungsnummer, sowie Ihrem Stornierungslink.
        </p>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close="">Weiter zur Bestellbestätigung</button>
</div>
