html {
  background-color: mediumpurple !important;
  overflow-x: hidden;
}

.fs-50 {
  font-size: 50px;
}

.h-200 {
  height: 200px;
}

.h-400 {
  height: 400px;
}

.w-30 {
    width: 30%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
